.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.Container{
  width: 60%;
  margin-left: 20%;
}

.Content{
  padding: 50px;
}

.Desc{
  font-size: 12px;
  margin-left: 20px;
  width: 80%;
}

.Headdiv{
  width: 100%;
  height: 150px;
  background-color: rgb(160, 5, 75);
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 20px;
  padding-top: 40px;
  padding-left: 80px;
}

.Heads{
  color: white;
}

.Subheads{
  display: block;
}

.Boxes{
  display: block;
  width: 80%;
  margin: 20px;
  padding: 6px;
}

input[type=submit]{
  background-color: rgb(160, 5, 75);
  color: white;
  margin: 20px;
  height: 40px;
  padding: 10px;
  padding-top: 3px;
}